<%= form_with(model: login_record, local: true) do |form| %>
  <% if login_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(login_record.errors.count, "error") %> prohibited this login_record from being saved:</h2>

      <ul>
      <% login_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :last_seen %>
    <%= form.datetime_select :last_seen %>
  </div>

  <div class="field">
    <%= form.label :token %>
    <%= form.text_field :token %>
  </div>

  <div class="field">
    <%= form.label :device %>
    <%= form.text_field :device %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
