<p id="notice"><%= notice %></p>

<p>
  <strong>Last seen:</strong>
  <%= @login_record.last_seen %>
</p>

<p>
  <strong>Token:</strong>
  <%= @login_record.token %>
</p>

<p>
  <strong>Device:</strong>
  <%= @login_record.device %>
</p>

<%= link_to 'Edit', edit_login_record_path(@login_record) %> |
<%= link_to 'Back', login_records_path %>
